<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<dict>
		<key>SK</key>
		<string>Slovakia</string>
		<key>CZ</key>
		<string>Czech</string>
		<key>GR</key>
		<string>Greece</string>
		<key>PL</key>
		<string>Poland</string>
		<key>CO</key>
		<string>Colombia</string>
		<key>PA</key>
		<string>Panama</string>
		<key>VN</key>
		<string>VietNam</string>
		<key>LV</key>
		<string>Latvia</string>
		<key>LT</key>
		<string>Lithuania</string>
		<key>PH</key>
		<string>Philippines</string>
		<key>FI</key>
		<string>Finland</string>
		<key>HU</key>
		<string>Hungary</string>
		<key>UA</key>
		<string>Ukraine</string>
		<key>TR</key>
		<string>Turkey</string>
		<key>PT</key>
		<string>Portugal</string>
		<key>MY</key>
		<string>Malaysia</string>
		<key>IL</key>
		<string>Israel</string>
		<key>EE</key>
		<string>Estonia</string>
		<key>DK</key>
		<string>Denmark</string>
		<key>BG</key>
		<string>Bulgaria</string>
		<key>BE</key>
		<string>Belgium</string>
		<key>SE</key>
		<string>Sweden</string>
		<key>VE</key>
		<string>Venezuela</string>
		<key>TH</key>
		<string>Thailand</string>
		<key>RO</key>
		<string>Romania</string>
		<key>MX</key>
		<string>Mexico</string>
		<key>ID</key>
		<string>Indonesia</string>
		<key>TW</key>
		<string>Taiwan</string>
		<key>SA</key>
		<string>Saudi Arabia</string>
		<key>HK</key>
		<string>Hongkong</string>
		<key>DZ</key>
		<string>Algeria</string>
		<key>CN</key>
		<string>China</string>
		<key>CH</key>
		<string>Switzerland</string>
		<key>AR</key>
		<string>Argentina</string>
		<key>NO</key>
		<string>Norway</string>
		<key>AT</key>
		<string>Austria</string>
		<key>IE</key>
		<string>Ireland</string>
		<key>AE</key>
		<string>United Arab Emirates</string>
		<key>ZA</key>
		<string>South Africa</string>
		<key>BR</key>
		<string>Brazil</string>
		<key>KR</key>
		<string>Korea</string>
		<key>AU</key>
		<string>Australia</string>
		<key>US</key>
		<string>United States</string>
		<key>GB</key>
		<string>United Kingdom</string>
		<key>DE</key>
		<string>Germany</string>
		<key>SG</key>
		<string>Singapore</string>
		<key>NL</key>
		<string>Netherlands</string>
		<key>JP</key>
		<string>Japan</string>
		<key>CA</key>
		<string>Canada</string>
		<key>FR</key>
		<string>France</string>
		<key>RU</key>
		<string>Russia</string>
		<key>ES</key>
		<string>Spain</string>
		<key>IT</key>
		<string>Italy</string>
		<key>IN</key>
		<string>India</string>
	</dict>
</dict>
</plist>
